---
import '../styles/global.css';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title}</title>
	</head>
	<body class="bg-app-bg text-text-main antialiased">
		<main class="mx-auto min-h-screen w-full max-w-[1600px] px-3 py-5 md:px-4 xl:px-6">
			<slot />
		</main>
	</body>
</html>
